body {
    background-color: #ffffff;
    color: #5a5a5a;
    /*font*/
    font-family: Verdana, Geneva, sans-serif;
} 

h1 {
    font-weight: bold;
    font-size: 250%;
}

h2 {
    font-size: 200%;
}

h3 {
    font-size: 150%;
}

p {
    font-size: 100%;
}

header {
    min-height: 10vh;
	max-height: 10vh;
}

article {
    min-height: 70vh;
	max-height: 70vh;
}

footer {
    left:   0vh;
    bottom: 0vh;
    width:  100vh;
    
    min-height: 5vh;
	max-height: 5vh;
}

.fluid-container {
    max-height: 95vh;
}

/*Element styles*/
#highscore {
    min-height: 100vh;
    max-height: 100vh;
}

#card-word {
    min-height: 40vh;
	max-height: 40vh;
    
    overflow: hidden;
}

#card-footer {
	min-height: 5vh;
	
    overflow: hidden;
}

#row-mid {
    background-color: #33aaff;
}

#card-row {
    min-height: 50vh;
	max-height: 50vh;
}

#black-card-panel {
    min-height: 20vh;
	max-height: 20vh;
    
    background-color: #050505;
    border-color: black;
    color: white;
}
#card-panel-0, #card-panel-1, #card-panel-2, #card-panel-3 {
    /*border: 10px solid white;*/
}