body {
    background-color: #ffffff;
    color: #5a5a5a;
    /*font*/
    font-family: Verdana, Geneva, sans-serif;
    
    max-width:99%;
} 

h1 {
    font-weight: bold;
    font-size: 250%;
}

h2 {
    font-size: 200%;
}

h3 {
    font-size: 150%;
}

p {
    font-size: 100%;
}

.holder-black {
    margin: 1vh;
    
    min-height: 24vh;
	max-height: 24vh;
    
    border-color: blue;
    background-color: blue;
}

.holder-white {
    margin: 1vh;
    
    min-height: 42vh;
	max-height: 42vh;
    
    border-color: blue;
    background-color: blue;
}

.card-white {
    margin: 1vh;
    
    min-height: 40vh;
	max-height: 40vh;
    
    overflow: auto;
}

.card-body {

}

.card-footer {
}

.holder-highscore {
    padding: 1vh;
    
    min-height: 68vh;
	max-height: 68vh;
    
    background-color: white;
}

#row-mid {
    margin: 2vh;
    
    border: black;
    background-color: #33aaff;
}

#card-row {
    min-height: 50vh;
	max-height: 50vh;
}

#black-card-panel {
    margin: 2vh;
    
    min-height: 20vh;
	max-height: 20vh;
    
    background-color: #080808;
    
    border-color: black;
    color: white;
    
    overflow: auto;
}