body {
    background-color: #ffffff;
    color: #5a5a5a;
    /*font*/
    font-family: Verdana, Geneva, sans-serif;
} 

h1 {
    font-weight: bold;
    font-size: 250%;
}

h2 {
    font-size: 200%;
}

h3 {
    font-size: 150%;
}

p {
    font-size: 100%;
}

header {
    min-height: 10vh;
	max-height: 10vh;
}

article {
    min-height: 80vh;
	max-height: 80vh;
}

.holder-black {
    margin: 1vh;
    
    min-height: 24vh;
	max-height: 24vh;
    
    background-color: red;
}

.holder-white {
    margin: 1vh;
    
    min-height: 24vh;
	max-height: 24vh;
    
    background-color: red;
}

.card-white {
    min-height: 45vh;
	max-height: 45vh;
    
    overflow: hidden;
}

.card-body {

}

.card-footer {

}
/*Element styles*/
#highscore {
}

#row-mid {
    background-color: #33aaff;
}

#card-row {
    min-height: 50vh;
	max-height: 50vh;
}

#black-card-panel {
    margin: 2vh;
    
    min-height: 20vh;
	max-height: 20vh;
    
    background-color: #080808;
    border-color: black;
    color: white;
}
#card-panel-0, #card-panel-1, #card-panel-2, #card-panel-3 {
    /*border: 10px solid white;*/
}